services:
  next-example:
    build:
      context: ./
      network: host
    environment:
      - "NEXT_EXAMPLE__APIS__ICANHAZDADJOKE__HOST=${NEXT_EXAMPLE__APIS__ICANHAZDADJOKE__HOST:-icanhazdadjoke.com}"
      - "NEXT_EXAMPLE__APIS__ICANHAZDADJOKE__PATH=${NEXT_EXAMPLE__APIS__ICANHAZDADJOKE__PATH:-}"
      - "NEXT_EXAMPLE__APIS__ICANHAZDADJOKE__PORT=${NEXT_EXAMPLE__APIS__ICANHAZDADJOKE__PORT:-}"
      - "NEXT_EXAMPLE__APIS__ICANHAZDADJOKE__SCHEME=${NEXT_EXAMPLE__APIS__ICANHAZDADJOKE__SCHEME:-https}"
      - "NEXT_EXAMPLE__DEBUG=${NEXT_EXAMPLE__DEBUG:-true}"
      - "NEXT_EXAMPLE__SERVER__HOST=${NEXT_EXAMPLE__SERVER__HOST:-0.0.0.0}"
      - "NEXT_EXAMPLE__SERVER__PORT=${NEXT_EXAMPLE__SERVER__PORT:-3000}"
    network_mode: host
